<div class="container-fluid" ng-show="emptytrash">
  <div class="row" style="margin-top: 7rem">
    <center>
      <div class="col-sm-6">
        <img
          src="https://ssl.gstatic.com/docs/doclist/images/empty_state_trash_v3.png"
          alt=""
          style="height: 15rem; width: 15rem; margin-left: 3.2rem"
        />
      </div>
    </center>
  </div>
  <div class="row">
    <center>
      <div class="col-sm-12">
        <span style="font-size: 2rem; font-weight: 300">Nothing in Bin</span>
      </div>
    </center>
  </div>
</div>
<div class="container-fuid" ng-hide="emptytrash">
  <div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3" style="padding-left: 3.5rem; padding-top: 0.5rem">
      <button
        type="button"
        class="btn btn-lg btn-danger"
        style="border-radius: 1rem"
        ng-click="cleartrash()"
      >
        <i class="fa-solid fa-xmark"></i>&nbsp;&nbsp;Empty Trash
      </button>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-5 g-4" style="margin-top: 1rem">
  <center ng-repeat="trashfolder in trashfolders">
    <div class="col">
      <i
        class="fa-solid fa-folder fa-3x"
        style="cursor: pointer; color: #eda024"
      ></i>
      <br />
      <div class="container">
        <span style="font-size: 1rem; font-weight: 500;"> {{trashfolder.Folder}} </span>
        <button
          type="button"
          class="btn btn-sm"
          ng-click="restorefolder(trashfolder.id)"
          style="margin-bottom: 0.3rem"
        >
          <i class="fa-solid fa-trash-arrow-up" style="color: #188038"></i>
        </button>
        <button
          type="button"
          class="btn btn-sm"
          ng-click="deletetrashfolder(trashfolder.id)"
          style="margin-bottom: 0.3rem"
        >
          <i class="fa-solid fa-trash" style="color: #ea4335"></i>
        </button>
      </div>
    </div>
  </center>
</div>
<div class="container-sm col-sm-12" style="margin-top: 2rem">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" ng-repeat="trashimage in trashimages">
      <div class="card">
        <img
          src="{{imageurl + trashimage.Uploads}}"
          style="height: 11.5rem; width: 14.5rem"
          class="card-img-top"
          alt="..."
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          ng-click="imagebig(trashimage.id)"
        />
        <div class="card-body">
          <h9 class="card-title">{{trashimage.Uploads.slice(15)}}</h9>
          <div
            class="modal fade"
            id="exampleModal"
            ng-repeat="trashimage in trashimages"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="container-fluid">
                    <center>
                      <div class="col-sm-12">
                        <img
                          src="{{imageurl + idimg.Uploads}}"
                          alt=""
                          style="height: 15rem; width: 28rem"
                        />
                      </div>
                    </center>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                    ng-click="restoreimg(idimg.id)"
                  >
                    Restore {{idimg.id}}
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                    ng-click="deltrashimg(idimg.id)"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
    </div>
  </div>
</div>
<div
  class="container-sm col-sm-12"
  style="margin-top: 1.5rem; margin-bottom: 2rem"
>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" ng-repeat="trashdoc in trashdocs">
      <div class="card">
        <img
          src="{{imageurl + trashdoc.Default_img}}"
          style="height: 11.5rem; width: 14.5rem"
          class="card-img-top"
          alt="..."
        />
        <!-- ng-click="imagebig(trashimage.id)" -->
        <div class="card-body">
          <span class="card-title" style="font-size: 0.9rem"
            >{{trashdoc.Uploads.slice(15)}}
            <center>
              <div class="hoverbtn">
                <button
                  class="btn"
                  type="button"
                  ng-click="restoreimg(trashdoc.id)"
                >
                  <i
                    class="fa-solid fa-trash-arrow-up fa-2x"
                    style="color: #188038"
                  ></i></button
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button
                  type="button"
                  class="btn"
                  ng-click="deltrashimg(trashdoc.id)"
                >
                  <i class="fa-solid fa-trash fa-2x" style="color: red"></i>
                </button>
              </div></center
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>
