<!-- <div class="container-sm col-sm-12">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" ng-repeat="image in images">
      <div class="card h-100">
        <img
          class="img-fluid"
          src="{{imageurl + image.Uploads}}"
          class="card-img-top"
          alt="..."
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          ng-click="driveimgbig(image.id)"
        />
        <div class="card-body">
          <h9 class="card-title"></h9>
        </div>
      </div>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container-fluid">
                <center>
                  <div class="col-sm-12">
                    <img
                      src="{{imageurl + viewimg.Uploads}}"
                      alt=""
                      style="height: 15rem; width: 28rem"
                    />
                  </div>
                </center>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Download
              </button>
              <button
                type="button"
                class="btn btn-primary"
                ng-click="removeimg(viewimg.id)"
                data-bs-dismiss="modal"
              >
                Remove{{viewimg.id}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
